{% extends ApplicationBundle ~ '::layout.html.twig' %}

{% block title %}{{ category.title }}{% endblock %}

{% block body %}
    <div class="container-wrapper" id="content">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <h4 class="sub">{{ block('title') }}</h4>
                    {% for author in authors %}
                        <table class="author">
                            <tr>
                                {% if author.path == 'musulmanka-v-moskve' %}
                                    {% set pic_url = '/static/images/blog_ava-2.png' %}
                                {% elseif author.path == 'vzglad-iznutri' %}
                                    {% set pic_url = '/static/images/blog_ava-1.png' %}
                                {% elseif author.path == 'finiki-i-moloko' %}
                                    {% set pic_url = '/static/images/blog_ava-3.png' %}
                                {% elseif author.path == 'ahmad-abu-aha' %}
                                    {% set pic_url = '/static/images/blog_ava-6.jpg' %}
                                {% endif %}
                                <td class="pic"><img src="{{ pic_url }}"></td>
                                <td class="name">
                                    <a href="{{ path('niqab_blogs_single_author', {blog_path:author.path}) }}">{{ author.title }}</a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="padding-top: 10px;">
                                    <span style="font-style: normal; font-size: 14px; color: #666; line-height: 18px; font-family: Helvetica,Arial,sans-serif;">
                                        {{ author.descr | raw }}
                                    </span>
                                </td>
                            </tr>
                        </table>
                    {% endfor %}
                </div>
                <div class="offset1 span3">
                    {% render controller('NiqabApplicationBundle:Widget:radio') %}

                    <div class="js_poll_content">{% render controller('NiqabApplicationBundle:Widget:poll') %}</div>
                    <!-- Banner #5 -->
                    <div class="iSlider" id="slider_02"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}