{% extends ApplicationBundle ~ '::layout.html.twig' %}

{% block title %}Блоги | {{ category.title }}{% endblock %}

{% block body %}
    <div class="container-wrapper" id="content">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <h4 class="sub"><a href="{{ path('niqab_blogs_recent') }}" class="dotted">БЛОГИ</a></h4>
                    <table class="author">
                        <tr>
                            {% if category.path == 'musulmanka-v-moskve' %}
                                {% set pic_url = '/static/images/blog_ava-2.png' %}
                            {% elseif category.path == 'vzglad-iznutri' %}
                                {% set pic_url = '/static/images/blog_ava-1.png' %}
                            {% elseif category.path == 'finiki-i-moloko' %}
                                {% set pic_url = '/static/images/blog_ava-3.png' %}
                            {% elseif category.path == 'mysli-vsluh' %}
                                {% set pic_url = '/static/images/blog_ava-1.png' %}
                            {% elseif category.path == 'abu-ali-al-asari' %}
                                {% set pic_url = '/static/images/blog_ava-5.jpg' %}
                            {% elseif category.path == 'ahmad-abu-aha' %}
                                {% set pic_url = '/static/images/blog_ava-6.jpg' %}
                            {% endif %}
                            <td class="pic"><img src="{{ pic_url }}"></td>
                            <td class="name">
                                {{ category.title }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding-top: 10px;">
                                <span style="font-style: normal; font-size: 14px; color: #666; line-height: 18px; font-family: Helvetica,Arial,sans-serif;">
                                    {{ category.descr | raw }}
                                </span>
                            </td>
                        </tr>

                    </table>
                    <hr>
                    <ul class="article-list">
                        {% for article in pagination %}
                            {% include 'NiqabApplicationBundle:Article:row.html.twig' with { 'article': article } %}
                        {% else %}
                            <li>Нет статей</li>
                        {% endfor %}
                    </ul>
                    {{ knp_pagination_render(pagination, 'NiqabApplicationBundle:Pagination:default.html.twig') }}
                </div>
                <div class="offset1 span3">
                    {% render controller('NiqabApplicationBundle:Widget:radio') %}
                    <div class="js_poll_content">{% render controller('NiqabApplicationBundle:Widget:poll') %}</div>
                    <!-- Banner #5 -->
                    <div class="iSlider" id="slider_02"></div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}