{% extends ApplicationBundle ~ "::layout.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <style>
        .article__tags {
            margin: 9px 0;
            width: auto;
            font-size: 13px;
            line-height: 14px;
        }
        .article__tags__title {
            font-weight: bold;
        }
        .article__tags__items {
            color: #999;
        }
        .article__tags__items a {
            color: #999;
            text-decoration: none;
        }
        .article__tags__items a:hover {
            text-decoration: underline;
        }
    </style>
    <div class="container-wrapper" id="content">
        <div class="container">
            <div class="row">
                <div class="span9">
                    <h4 class="sub"><a class="dotted" href="{{ path('niqab_category_show', { category_path: article.primaryCategory.path }) }}">
                            {{ article.primaryCategory.title }}
                        </a></h4>
                    <table class="author">
                        <tr>
                            {% if category.path == 'musulmanka-v-moskve' %}
                                {% set pic_url = '/static/images/blog_ava-2.png' %}
                            {% elseif category.path == 'vzglad-iznutri' %}
                                {% set pic_url = '/static/images/blog_ava-1.png' %}
                            {% elseif category.path == 'finiki-i-moloko' %}
                                {% set pic_url = '/static/images/blog_ava-3.png' %}
                            {% elseif category.path == 'mysli-vsluh' %}
                                {% set pic_url = '/static/images/blog_ava-4.png' %}
                            {% elseif category.path == 'abu-ali-al-asari' %}
                                {% set pic_url = '/static/images/blog_ava-5.jpg' %}
                            {% elseif category.path == 'ahmad-abu-aha' %}
                                {% set pic_url = '/static/images/blog_ava-6.jpg' %}
                            {% endif %}
                            <td class="pic"><img src="{{ pic_url }}"></td>
                            <td class="name">
                                <a href="{{ path('niqab_blogs_single_author', {blog_path:category.path}) }}">{{ category.title }}</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding-top: 10px;">
                                <span style="font-style: normal; font-size: 14px; color: #666; line-height: 18px; font-family: Helvetica,Arial,sans-serif;">
                                    {{ category.descr | raw }}
                                </span>
                            </td>
                        </tr>

                    </table>

                    <hr>
                    <article>
                        <div class="meta">
                            {#<span class="comments-num">65</span>#}
                            <span class="date">{{ article.publishedAt | format_date('dd MMMM Y') }}</span>
                        </div>

                        <h1>{{ article.title }}</h1>

                        {{ article.flatContent.flatContent | raw }}

                        {% if article.tags is not empty %}
                            <div class="article__tags">
                                <span class="article__tags__title">Метки:</span>
                                <span class="article__tags__items">
                                    {% for tag in article.tags %}
                                        {% if tag.path is not empty %}
                                            <a href="{{ path('annisa_search_tags', {tag_path:tag.path}) }}">{{ tag.title }}</a>{% if not loop.last %},{% endif %}
                                        {% endif %}
                                    {% endfor %}
                                  </span>
                            </div>
                        {% endif %}

                        <ul class="inline-list pull-right">
                            {% if article.getViewCnt.cnt > 0 %}
                                <li><a href="#" class="num-indicator num-indicator--contrast num-indicator--views"><span class="num-indicator__text">{{ article.getViewCnt.cnt }}</span></a></li>
                            {% endif %}
                            {% if article.commentsCount > 0 %}
                                <li><a href="#" class="num-indicator num-indicator--contrast num-indicator--comments"><span class="num-indicator__text">{{ article.commentsCount }}</span></a></li>
                            {% endif %}
                        </ul>

                    </article>

                    <a href="{{ path('niqab_category_show', { category_path: article.primaryCategory.path }) }}"
                       class="back">← Вернуться в раздел</a>

                    <br /><br />
                    <!-- Put this script tag to the <head> of your page -->
                    <script type="text/javascript" src="//vk.com/js/api/openapi.js?98"></script>

                    <script type="text/javascript">
                        VK.init({apiId: 3845320, onlyWidgets: true});
                    </script>

                    <!-- Put this div tag to the place, where the Comments block will be -->
                    <div id="vk_comments"></div>
                    <script type="text/javascript">
                        VK.Widgets.Comments("vk_comments", {limit: 10, width: "520", attach: "*", autoPublish:0}, 'annisa-today{{ article.id }}');
                    </script>

                </div>
                <div class="span3">
                    {% render controller('NiqabApplicationBundle:Widget:radio') %}
                    {% render controller('NiqabApplicationBundle:Widget:inBlog') %}
                    <!-- Banner #5 -->
                    <div class="iSlider" id="slider_02"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}