{% extends ApplicationBundle ~ '::layout.html.twig' %}

{% block title %}Все голосования{% endblock %}

{% block body %}
    <div class="container-wrapper" id="content">
    <div class="container">
    <div class="row">
    <div class="span8">
    <h4 class="sub">РЕЗУЛЬТАТЫ ГОЛОСОВАНИЙ</h4>


    <div class="poll-result-container">
    {% for vote in pagination %}
        <div class="poll-result-widget">
            <div class="header">
                <div class="inner">
                    {{ vote.title }}
                </div>
            </div>
            <div class="inner">
                <ul class="answers">
                    {% set total_count = 0 %}
                    {% for __answ in vote.answers %}
                        {% set total_count = total_count + __answ.count %}
                    {% endfor %}


                    {% for __answ in vote.answers %}
                        <li>
                            <div class="result">
                                <div class="total">{{ __answ.count }}</div>
                                <div class="progress">
                                    <div class="bar" style="width: {% if total_count > 0 %}{{ (__answ.count * 100 / total_count) | number_format(0) }}{% else %}0{% endif %}%;"></div>
                                </div>
                            </div>
                            <p>
                                {{ __answ.answer }}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="footer">
                <div class="inner">
                    <i class="red">Всего голосов: <b>{{ total_count }}</b></i>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    {{ knp_pagination_render(pagination, 'NiqabApplicationBundle:Pagination:default.html.twig') }}
    </div>
    <div class="span3 offset1">
        {% render controller('NiqabApplicationBundle:Widget:radio') %}
        {% render controller('NiqabApplicationBundle:Widget:inBlog') %}
    </div>
    </div>
    </div>
    </div>

{% endblock %}