<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/stylesheets/styles.css">
    <script type="text/javascript" src="/static/javascripts/vendor/modernizr.js"></script>
</head>
<body>

<div class="p-error_container">
    <div class="p-error">

        <div class="logo">
            <div class="logo__image"></div>
            <div class="logo__text">
                информационно-аналитический федеральный портал
            </div>
        </div>

        <div class="p-error__content">

            <div class="p-error__num">404</div>
            <div class="p-error__help_text">
                Неправильно набран адрес, или такой страницы<br>на сайте больше не существует.
            </div>
            <div class="p-error__help_link">
                <a href="/">Перейти на главную</a>
            </div>

        </div>

    </div>
</div>

</body>
</html>