{% extends ApplicationBundle ~ '::layout_full.html.twig' %}

{% block title %}Статьи{% endblock %}

{% block content %}
    <h2>{{ block('title') }}</h2>
    <div class="article-list">
    {% for article in pagination %}
        {% include 'IslamRussiaApplicationBundle:Article:row.html.twig' with { 'article': article } %}
    {% else %}
        {{ 'no.articles'|trans }}
    {% endfor %}
    </div>

    {# display navigation #}
    {{ knp_pagination_render(pagination, 'IslamRussiaApplicationBundle:Pagination:default.html.twig') }}
{% endblock %}