{% extends ApplicationBundle ~ '::layout.html.twig' %}

{% block title %}{% if (sub_category.meta is defined) %}{% if sub_category.meta.title is not empty %}{{ sub_category.meta.title }}{% else %}{{ sub_category.title }}{% endif %}{% elseif (category is defined) %}{% if category.meta.title is not empty %}{{ category.meta.title }}{% else %}{% if (sub_category.title is defined) and (sub_category.title is not empty) %}{{ sub_category.title }}{% else %}{{ category.title }}{% endif %}{% endif %}{% endif %}{% endblock %}

{% block meta_descr %}{% if (sub_category.meta is defined)  %}{% if sub_category.meta.descr is not empty %}{{ sub_category.meta.descr }}{% endif %}{% elseif (category is defined) %}{% if category.meta.descr is not empty %}{{ category.meta.descr }}{% endif %}{% endif %}{% endblock %}
{% block meta_keywords %}{% if (sub_category.meta is defined)  %}{% if sub_category.meta.keywords is not empty %}{{ sub_category.meta.keywords }}{% endif %}{% elseif (category is defined) %}{% if category.meta.keywords is not empty %}{{ category.meta.keywords }}{% endif %}{% endif %}{% endblock %}

{% block body %}
    <div class="container-wrapper" id="content">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <h4 class="sub"><a class="dotted" href="{{ path('niqab_category_show', { category_path: category.path }) }}">
                            {{ category.title }}
                        </a>{% if sub_category.path is defined %} / {{ sub_category.title }}{% endif %}</h4>

                    <ul class="article-list">
                        {% for article in pagination %}
                            {% include 'NiqabApplicationBundle:Article:row.html.twig' with { 'article': article } %}
                        {% else %}
                            <li>Нет статей</li>
                        {% endfor %}
                    </ul>

                    {{ knp_pagination_render(pagination, 'NiqabApplicationBundle:Pagination:default.html.twig') }}
                </div>
                <div class="offset1 span3">
                    {% render controller('NiqabApplicationBundle:Widget:radio') %}

                    <div class="js_poll_content">{% render controller('NiqabApplicationBundle:Widget:poll') %}</div>

                    <!-- Banner #5 -->
                    <div class="iSlider" id="slider_02"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}