<?php
$file = $this->file;
$linkTo = $this->linkTo;
$fileMediaData = $file->getMediaData();
$options = $this->options;
$article = $this->article;
/**
 * FIXME: дефолтные значения хорошо бы брать откуда-то еще
 */
if (! isset($options['align'])) {
    $options['align'] = 'center';
}

switch ($options['align']) {
    case 'left':
        $alignStyle = "display:block; clear:both; text-align: left; ";
        break;
    case 'none':
        $alignStyle = "";
        break;
    case 'center':
    default:
        // тут работаем как с центром
        $alignStyle = "display:block; clear:both; margin-left:auto; margin-right:auto; text-align:center;";

}

/**
 * FIXME: дефолтные значения хорошо бы брать откуда-то еще
 */
if (! isset($options['border'])) {
    $options['border'] = "true";
}

switch ($options['border']) {
    case 'false':
        $borderClass = "unBorderedImage";
        break;
    case 'true':
    default:
        // тут работаем как будто бордюр нужен
        $borderClass = "borderedImage";
}

$link = $this->url($article) . $linkTo->getItemId() . '-' . $linkTo->getId() . '/';

?>
<a href="<?php echo $this->href($link)?>" style="<?php echo $alignStyle?>" target="_blank"><img src="<?php echo $file->getUrl()?>" width="<?php echo $fileMediaData['width']?>" height="<?php echo $fileMediaData['height']?>" border="0" class="<?php echo $borderClass?>" /></a>
