<h2>Мониторинг СМИ</h2>

<ul class="common-short-list notes">
    {% for article in articles %}
        <li>
            <div class="meta">
                <span class="time">{{ article.publishedAt | format_time('HH:mm') }}</span>
                <span class="date">{{ article.publishedAt | format_date('d MMMM Y') }}</span>
            </div>
            <div class="introtext">
                {{ article.longAnounce }}
            </div>
        </li>
    {% endfor %}
</ul>