{% set link -%}
    {% render controller('NiqabApplicationBundle:Link:get', {'article':article}) %}
{%- endset %}

{% set preview -%}
    {% render controller('NiqabApplicationBundle:Preview:getUrl', {'article':article, 'typeId': 190}) %}
{%- endset %}

<li class="media">

    <div class="pull-left">
        <a href="{{ link }}"><img src="{{ preview }}" class="media-object"></a>
    </div>
    <div class="media-body">
        <h2 class="media-heading"><a href="{{ link }}">{{ article.title }}</a></h2>
        <p>{% if article.shortAnounce is empty %}{{ article.longAnounce }}{% else %}{{ article.shortAnounce }}{% endif %}</p>
        <ul class="inline-list meta">
            <li><span class="date">{{ article.publishedAt | format_date('dd MMMM Y') }}</span></li>
            {% if article.getViewCnt.cnt > 0 %}
                <li><a href="{{ link }}" class="num-indicator num-indicator--views"><span class="num-indicator__text">{{ article.getViewCnt.cnt }}</span></a></li>
            {% endif %}
            {% if article.commentsCount > 0 %}
                <li><a href="{{ link }}" class="num-indicator num-indicator--comments"><span class="num-indicator__text">{{ article.commentsCount }}</span></a></li>
            {% endif %}
        </ul>
    </div>
</li>