{% extends ApplicationBundle ~ '::layout.html.twig' %}

{% block title %}Поиск{% endblock %}

{% block body %}
    <div class="container-wrapper" id="content">
        <div class="container">
            <div class="row">
                <div class="span8">

                    <h4 class="sub">ПОИСК</h4>
                    <ul class="article-list">
                        {% for article in pagination %}
                            {% set link -%}
                                {% render controller(ApplicationBundle ~ ':Link:get', {'article':article}) %}
                            {%- endset %}
                            {% set preview -%}
                                {% render controller(ApplicationBundle ~':Preview:getUrl', {'article':article, 'typeId': 190}) %}
                            {%- endset %}
                            <li class="media">
                                <div class="pull-left">
                                    <a href="{{ link }}"><img src="{{ preview }}" class="media-object"></a>
                                </div>
                                <div class="media-body">
                                    <h2 class="media-heading"><a href="{{ link }}">{{ article.title }}</a></h2>

                                    <p>{% if article.shortAnounce is empty %}{{ article.longAnounce }}{% else %}{{ article.shortAnounce }}{% endif %}</p>

                                    <div class="meta">
                                        <span class="date">{{ article.publishedAt | format_date('dd MMMM Y') }}</span>
                                    </div>
                                </div>
                            </li>
                        {% else %}
                            Ничего не найдено
                        {% endfor %}
                    </ul>

                    {{ knp_pagination_render(pagination, 'NiqabApplicationBundle:Pagination:default.html.twig') }}
                </div>
                <div class="offset1 span3">
                    {% render controller('NiqabApplicationBundle:Widget:radio') %}

                    <div class="js_poll_content">{% render controller('NiqabApplicationBundle:Widget:inBlog') %}</div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}