{% extends ApplicationBundle ~ "::layout.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <style>
        .article__tags {
            margin: 9px 0;
            width: auto;
            font-size: 13px;
            line-height: 14px;
        }
        .article__tags__title {
            font-weight: bold;
        }
        .article__tags__items {
            color: #999;
        }
        .article__tags__items a {
            color: #999;
            text-decoration: none;
        }
        .article__tags__items a:hover {
            text-decoration: underline;
        }
    </style>
    <div class="container-wrapper" id="content">
        <div class="container">
            <div class="row">
                <div class="span9">
                    <h4 class="sub"><a class="dotted" href="{{ path('niqab_category_show', { category_path: article.primaryCategory.path }) }}">
                            {{ article.primaryCategory.title }}
                        </a>{% if article.secondaryCategories[0].path is defined %} / <a class="dotted" href="{{ path('niqab_sub_category_show', {category_path: article.primaryCategory.path,
                                                                sub_category_path: article.secondaryCategories[0].path}) }}">{{ article.secondaryCategories[0].title }}</a>{% endif %}</h4>
                    <article>
                        <div class="meta">
                            {#<span class="comments-num">65</span>#}
                            <span class="date">{{ article.publishedAt | format_date('dd MMMM Y') }}</span>
                        </div>

                        <h1>{{ article.title }}</h1>

                        {{ article.flatContent.flatContent | raw }}

                        {% if article.originLinkTitle != '' %}
                            <p class="top">
                                <i class="muted">{{ article.originLinkTitle }}</i>
                            </p>
                        {% endif %}

                        {% if article.tags is not empty %}
                            <div class="article__tags">
                                <span class="article__tags__title">Метки:</span>
                                <span class="article__tags__items">
                                    {% for tag in article.tags %}
                                        {% if tag.path is not empty %}
                                            <a href="{{ path('annisa_search_tags', {tag_path:tag.path}) }}">{{ tag.title }}</a>{% if not loop.last %},{% endif %}
                                        {% endif %}
                                    {% endfor %}
                                  </span>
                            </div>
                        {% endif %}

                        <ul class="inline-list pull-right">
                            {% if article.getViewCnt.cnt > 0 %}
                                <li><a href="#" class="num-indicator num-indicator--contrast num-indicator--views"><span class="num-indicator__text">{{ article.getViewCnt.cnt }}</span></a></li>
                            {% endif %}
                            {% if article.commentsCount > 0 %}
                                <li><a href="#" class="num-indicator num-indicator--contrast num-indicator--comments"><span class="num-indicator__text">{{ article.commentsCount }}</span></a></li>
                            {% endif %}
                        </ul>
                    </article>

                    <a href="{{ path('niqab_category_show', { category_path: article.primaryCategory.path }) }}"
                       class="back">← Вернуться в раздел</a>
                    <br /><br />
                    <!-- Put this script tag to the <head> of your page -->
                    <script type="text/javascript" src="//vk.com/js/api/openapi.js?98"></script>

                    <script type="text/javascript">
                        VK.init({apiId: 3845320, onlyWidgets: true});
                    </script>

                    <!-- Put this div tag to the place, where the Comments block will be -->
                    <div id="vk_comments"></div>
                    <script type="text/javascript">
                        VK.Widgets.Comments("vk_comments", {limit: 10, width: "520", attach: "*", autoPublish:0}, 'annisa-today{{ article.id }}');
                    </script>
                </div>
                <div class="span3">
                    {% render controller('NiqabApplicationBundle:Widget:radio') %}
                    {% render controller('NiqabApplicationBundle:Widget:inBlog') %}
                    <!-- Banner #5 -->
                    <div class="iSlider" id="slider_02"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}