{% for cat in menu %}

    {% if loop.first %}
        <div class="row">
    {% endif %}

    {% if loop.index % 6 == 1  or loop.first %}
        </div>
        <div class="row">
    {% endif %}
    {% if cat.parent.path != "" %}
        <div class="span2">
            <ul class="links">
                <li><h4 class="sub"><a href="{{ path('niqab_category_show', {category_path:cat.parent.path}) }}">{{ cat.parent.title }}</a></h4></li>
                {% if cat.subs is defined and cat.subs is not empty %}
                    {% for __subs in cat.subs %}
                        <li><a href="{{ path('niqab_sub_category_show', {category_path:cat.parent.path, sub_category_path:__subs.path}) }}">{% if __subs.title is not empty %}{{ __subs.title }}{% else %}!!!{{ __subs.id }}!!!{% endif %}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    {% endif %}
    {% if loop.last %}
        </div>
    {% endif %}
{% endfor %}