<nav>
    <div class="primary">
        <ul>
            {% for cat in menu %}
                {% if cat.parent.path != "" %}
                    <li>
                        <a href="{{ path('niqab_category_show', {category_path : cat.parent.path}) }}">{{ cat.parent.title }}</a>
                        {% if cat.subs is defined and cat.subs is not empty %}
                            <ul>
                                {% for __subs in cat.subs %}
                                    <li>
                                        <a href="{{ path('niqab_sub_category_show', {category_path:cat.parent.path, sub_category_path:__subs.path}) }}">
                                            {% if __subs.title is not empty %}{{ __subs.title }}{% else %}!!!{{ __subs.id }}!!!{% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
            <li class="rss"><a href="{{ path('rss') }}" title="RSS"><i class="sprite sprite-rss"></i></a></li>
            <li class="mail"><a class="js_email_send" href="#" title="Mail"><i class="sprite sprite-mail"></i></a></li>
        </ul>
    </div>
</nav>