{% extends ApplicationBundle ~ "::layout.html.twig" %}

{% block title %}Мусульманский женский портал{% endblock %}

{% block body %}
    <div class="container-wrapper" id="content">
        <div class="container">
            <div class="row">
                <div class="span9">
                    {% render controller('NiqabApplicationBundle:Default:slider') %}
                    <div class="push-double--top eleven-twelve">
                        {% render controller('NiqabApplicationBundle:Article:recent', {page:page}) %}
                    </div>
                </div>
                <div class="span3">
                    {% render controller('NiqabApplicationBundle:Widget:radio') %}
                   {# <div class="banner-right2 sidebar_margin">
                        <!-- banner 2  -->
                        <a href="http://takbir.ru/ " target="_blank">
                            <img src="{{ asset('static/banners/takbirru_march_220х250_рх.png') }}">
                        </a>
                    </div>#}
                    {% render controller('NiqabApplicationBundle:Widget:inBlog') %}
                    <div class="iSlider" id="slider_02"></div>
                    <div class="js_poll_content">{% render controller('NiqabApplicationBundle:Widget:poll') %}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
