<?xml version="1.0" encoding="utf-8"?><rss version="2.0">
    <channel>
        <title>Annisa-today.ru RSS</title>
        <link>http://www.annisa-today.ru/rss/</link>
        <description>Все материалы</description>
        {% for article in articles %}
            {% set preview -%}
                {% render controller(ApplicationBundle ~':Preview:getUrl', {'article':article, 'typeId': 190}) %}
            {%- endset %}
            {% set link -%}
                {% render controller('NiqabApplicationBundle:Link:get', {'article':article}) %}
            {%- endset %}

            {% set descr %}{% spaceless %}
                    <img src="{{ preview }}" width="200" height="140" border="1" />
                    <p>{{ article.shortAnounce }}</p>
            {% endspaceless %}{% endset %}
            <item>
                <guid isPermaLink="false">{{ article.id }}</guid>
                <link>{{ url }}{{ link }}</link>
                <title>{{ article.title }}</title>
                <description>{{ descr | e }}</description>
                <pubDate>{{ article.publishedAt | date('r') }}</pubDate>
            </item>
        {% endfor %}
    </channel>
</rss>