<div class="flexslider--default" flexslider>
    <ul class="slides">
        {% for article in articles %}
            {% set link -%}
                {% render controller(ApplicationBundle ~ ':Link:get', {'article':article}) %}
            {%- endset %}
            {% set preview -%}
                {% render controller(ApplicationBundle ~':Preview:getUrl', {'article':article, 'typeId': 440}) %}
            {%- endset %}
            <li>
                <a href="{{ link }}" class="slide-wrap"
                   style="background-image: url('{{ preview }}')">
                    <div class="slide-content">
                        <div class="slide-name">
                            {{ article.title }}
                        </div>
                        <div class="slide-text">{% if article.shortAnounce is empty %}{{ article.longAnounce }}{% else %}{{ article.shortAnounce }}{% endif %}</div>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>