{% if pageCount > 1 %}
    <div class="default_pagination">
        <ul>

            {% if startPage > 1 %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
                </li>
                {% if startPage == 3 %}
                    <li>
                        <a href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a>
                    </li>
                {% elseif startPage != 2 %}
                    <li class="disabled">
                        <span>&hellip;</span>
                    </li>
                {% endif %}
            {% endif %}

            {% for page in pagesInRange %}
                {% if page != current %}
                    <li>
                        <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="active">
                        <span>{{ page }}</span>
                    </li>
                {% endif %}

            {% endfor %}

            {% if pageCount > endPage %}
                {% if pageCount > (endPage + 1) %}
                    {% if pageCount > (endPage + 2) %}
                        <li class="disabled">
                            <span>&hellip;</span>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}">{{ pageCount -1 }}</a>
                        </li>
                    {% endif %}
                {% endif %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a>
                </li>
            {% endif %}

            <li class="pointers">
            {% if previous is defined %}
                    &larr;&nbsp;<a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">Предыдущая</a>
            {% else %}
                    &larr;&nbsp;<span>Предыдущая</span>
            {% endif %}
            /
            {% if next is defined %}
                    <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">Следующая</a>&nbsp;&rarr;
            {% else %}
                    <span>Следующая</span>&nbsp;&rarr;
            {% endif %}
            </li>
        </ul>
    </div>
{% endif %}
