{% block footer %}
    <footer>
        <div class="container-wrapper">
            <div class="container">

                {% render controller('NiqabApplicationBundle:Menu:footer') %}
                <div class="line">
                    <div class="row-fluid">
                        <div class="span7">
                            <div style="margin-top: 10px;">
                                © {{ date().format('Y') }} <a href="/">Ан-Ниса</a>. Все права защищены.
                                <br>При использовании материалов ссылка
                                на сайт annisa-today.ru обязательна.
                            </div>
                        </div>

                        <div class="span5">

                            <div style="margin-top: 5px; margin-bottom: 10px;" class="row pull-right">
                                <script type="text/javascript">

                                    var _gaq = _gaq || [];
                                    _gaq.push(['_setAccount', 'UA-24672978-19']);
                                    _gaq.push(['_trackPageview']);

                                    (function() {
                                        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                                        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                                    })();

                                </script>
                                <!-- Yandex.Metrika counter -->
                                <script type="text/javascript">
                                    (function (d, w, c) {
                                        (w[c] = w[c] || []).push(function() {
                                            try {
                                                w.yaCounter22130981 = new Ya.Metrika({id:22130981,
                                                    clickmap:true,
                                                    trackLinks:true,
                                                    accurateTrackBounce:true});
                                            } catch(e) { }
                                        });

                                        var n = d.getElementsByTagName("script")[0],
                                                s = d.createElement("script"),
                                                f = function () { n.parentNode.insertBefore(s, n); };
                                        s.type = "text/javascript";
                                        s.async = true;
                                        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                                        if (w.opera == "[object Opera]") {
                                            d.addEventListener("DOMContentLoaded", f, false);
                                        } else { f(); }
                                    })(document, window, "yandex_metrika_callbacks");
                                </script>
                                <noscript><div><img src="//mc.yandex.ru/watch/22130981" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
                                <!-- /Yandex.Metrika counter -->
                                <!--LiveInternet counter--><script type="text/javascript"><!--
                                    document.write("<a href='http://www.liveinternet.ru/click' "+
                                            "target=_blank><img src='//counter.yadro.ru/hit?t14.6;r"+
                                            escape(document.referrer)+((typeof(screen)=="undefined")?"":
                                            ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                                                    screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
                                            ";"+Math.random()+
                                            "' alt='' title='LiveInternet: показано число просмотров за 24"+
                                            " часа, посетителей за 24 часа и за сегодня' "+
                                            "border='0' width='88' height='31'><\/a>")
                                    //--></script><!--/LiveInternet-->
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
        </div>
    </footer>

    <div id="sendMessageModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Написать в редакцию</h3>
        </div>
        <div class="modal-body">
            <div style="display: none;" class="js_email_error_show alert alert-error fade in"><span class="js_email_error"></span><button type="button" class="js_email_error_close close" data-dismiss="alert">&times;</button></div>
            <div style="display: none;" class="js_email_ok_show alert alert-success fade in">Сообщение отправлено</div>
            <form class="js_send_email_form" method="post">
                <label>Введите ваше имя</label>
                <input name="email_name" type="text" class="js_email_name span5">

                <label>Электронный адрес</label>
                <input name="email_email" type="text" class="js_email_email span5">

                <label>Сообщение</label>
                <textarea name="email_message" class="js_email_message input-block-level" style="height: 200px;"></textarea>
            </form>
        </div>
        <div class="modal-footer">
            <button class="js_email_form_send_button mbtn">Отправить</button>
        </div>
    </div>


{% endblock %}
