<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Мусульманский женский портал{% endblock %}</title>
        <meta name="description" content="{% block meta_descr %}{% endblock %}">
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
        <meta name="viewport" content="width=device-width">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="/static/javascripts/vendor/modernizr-2.6.2.min.js"></script>
    {% endblock %}
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}
</head>
<body>
{#<object class="baner baner__full_width baner__no_bottom_margin" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="1000" height="120" align="middle">#}
    {#<param name="allowScriptAccess" value="sameDomain">#}
    {#<param name="movie" value="/static/banners/sami-yusuf.swf">#}
    {#<param name="quality" value="high">#}
    {#<param name="bgcolor" value="#ffffff">#}
    {#<embed src="/static/banners/sami-yusuf.swf" quality="high" bgcolor="#ffffff" width="990" height="120" align="middle" allowscriptaccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">#}
{#</object>#}
{% block bodyTag %}{% endblock %}

</body>
</html>