{% block header %}
    <header>
        <div class="container-wrapper">
            <div class="container">
                <div class="row">
                    <div class="span5">
                        <a href="/" class="logo"><img src="/static/images/logo.png" alt="logo"></a>
                    </div>
                    <div class="span7">
                        <div class="form-search-container">
                            <form class="form-search" action="{{ path('annisa_search_show') }}" method="get">
                                <input name="q" type="text" class="input-medium search-query" placeholder="Поиск по сайту">
                                <a href="#" class="form-submitter sprite sprite-magnifier"></a>
                            </form>
                        </div>
                        <ul class="inline pull-right">
                            <li><a href="https://www.facebook.com/annisa.today" class="sprite sprite-facebook"></a></li>
                            <li><a href="http://vk.com/annisa_today_ru" class="sprite sprite-vkontakte"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            {% render controller('NiqabApplicationBundle:Menu:show') %}
        </div>
    </header>
{% endblock %}
