{% extends ApplicationBundle ~ '::layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="span12">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}