{% extends 'IslamRussiaApplicationBundle::layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="span17">
                {% block content %}{% endblock %}
            </div>
            <div class="span5 offset2">
                {% block layout_sidebar_2 %}
                    {% include ApplicationBundle ~ '::sidebar_2.html.twig' %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}