{% extends ApplicationBundle ~ '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/bower_components/flexslider/flexslider.css">
    <link rel="stylesheet" href="/static/stylesheets/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>



    {#<link rel="stylesheet" href="http://codeorigin.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">#}
    {#<link rel="stylesheet" href="/static/stylesheets/styles.css">#}
    {#<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>#}
    {#<link rel="stylesheet" href="/static/banners/css/slider.css"/>#}
{% endblock %}

{% block javascripts %}
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/javascripts/vendor/placeholder.js"></script>
    <script src="/static/javascripts/vendor/bootstrap-modal.js"></script>
    <script src="/bower_components/flexslider/jquery.flexslider.js"></script>

    <script src="/static/javascripts/slider.js"></script>
    <script src="/static/javascripts/main.js"></script>





    {#<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>#}
    {#<script src="/static/javascripts/vendor/placeholder.js"></script>#}
    {#<script src="/static/javascripts/vendor/bootstrap-modal.js"></script>#}
    {#<script src="http://codeorigin.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>#}
    {#<script type="text/javascript"#}
            {#src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/i18n/jquery-ui-i18n.min.js"></script>#}
    {#<script src="/static/javascripts/main.js"></script>#}
    {#<script src="/static/banners/js/jquery.transit.min.js"></script>#}
    {#&#123;&#35;<script src="/static/banners/js/islider.js"></script>&#35;&#125;#}
    {#<script src="/bower_components/flexslider/jquery.flexslider.js"></script>#}
    {#<script src="/static/javascripts/slider.js"></script>#}

{% endblock %}

{% block bodyTag %}
    <div id="wrapper">
        {% include ApplicationBundle ~ '::chrome_frame.html.twig' %}
        {% include ApplicationBundle ~ '::base_header.html.twig' %}
        {% block body %}{% endblock %}
        <div class="_empty"></div>
        <a href="#" class="scrollup">Scroll</a>
    </div>
    {% include ApplicationBundle ~ '::base_footer.html.twig' %}
{% endblock %}