
{#
<hr>
<div class="row">
<div class="span19">
    {% render controller("IslamArticleBundle:Article:popularArticles") %}
</div>
<div class="span4 offset1">
    {{% render controller("IslamArticleBundle:Article:personalityShow") %}}

    <h2>История в лицах</h2>
    <div class="people-history">
        <div>
            <div class="image">
                <img src="http://placekitten.com/g/190/130">
            </div>
            <div class="meta">
                <span class="time">08:17</span>
                <span class="date">15.02.2013</span>
            </div>
            <div class="title">
                Зайнулла Расули (1833-1917): открывая пути Евразийскому союзу
            </div>
        </div>
    </div>
</div>
</div><!-- end of .row -->
#}

<hr>

<div class="row">
    <div class="span12">
        {% render controller("SCGalleryBundle:Photo:carousel") %}
    </div>
</div>

<div class="row" style="margin-top: 2em">
    <div class="span12">
        {% render controller("SCGalleryBundle:Video:carousel") %}
    </div>
</div>