
<script type="text/javascript" src="//vk.com/js/api/openapi.js?96"></script>
<script type="text/javascript">
    VK.init({apiId: {{ VkontakteAppId }}, onlyWidgets: true});
</script>
<div id="vk_comments"></div>
<script type="text/javascript">
    VK.Widgets.Comments("vk_comments", { limit: 15, width: "520", attach: "*", autoPublish: 0 }, '{{ pageId }}');
    VK.Observer.subscribe("widgets.comments.new_comment", addCommentCallback);
    VK.Observer.subscribe("widgets.comments.delete_comment", delCommentCallback);


    function addCommentCallback(num, last_comment, date, sign){
        $.post('{{ path('islam_comments_handler', { 'pageId': pageId }) }}', {
            type: 'vkontakte',
            num: num,
            last_comment: last_comment,
            date: date,
            sign: sign
        });
    }

    function delCommentCallback(num, last_comment, date, sign){
        $.post('{{ path('islam_comments_handler_del', { 'pageId': pageId }) }}', {
            type: 'vkontakte',
            num: num,
            last_comment: last_comment,
            date: date,
            sign: sign
        });
    }
</script>