{% block commentsNum %}
    {% set link -%}
        {% render controller('SCArticleBundle:Link:get', {'article':article}) %}
    {%- endset %}
    <a href="{{ link }}" class="comments-num" data-original-title="{{ 'view.comments'|trans }}" rel="tooltip" data-placement="right">
        {{- article.commentsCount|default(0) -}}
    </a>
{% endblock %}