
<h2>{{ 'comments'|trans }}</h2>

<ul class="common-short-list comments">

    {% for comment in comments %}
        {% set link -%}
            {% render controller('SCArticleBundle:Link:get', {'article':comment.article}) %}
        {%- endset %}
        <li>
            <div class="meta">
                <span class="author"><a href="{{ link }}">{{ comment.article.title }}</a></span>
                <br>
                    <span class="date">{{ comment.createdAt | format_date('dd MMMM Y')}}</span>
            </div>
            <div class="introtext">
                {{ comment.text }}
            </div>
        </li>
    {% else %}
        {{ 'no.comments'|trans }}
    {% endfor %}
</ul>