{% block active_poll_widget %}
    <script type="text/javascript" src="{{ asset('bundles/niqabapplication/js/jquery.form.min.js') }}"></script>
    <script type="text/javascript">
        jQuery(function() {
            jQuery('.js_vote_form').ajaxForm({
                success: function showResponse (responseText, statusText) {
                    jQuery('.js_poll_content').html(responseText);
                }
            });
        });
    </script>
    <div class="poll-widget">
        <form class="js_vote_form" action="{{ path('sc_votes_add_poll') }}" method="post">
            <input type="hidden" value="{{ vote.id }}" name="vote_id">
            <div class="header">
                <div class="inner">
                    {{ vote.title }}
                </div>
            </div>
            <div class="inner">
                {% for _answ in vote.answers %}
                    <label class="radio">
                        <input type="radio" name="vote_answer" value="{{ _answ.id }}" {% if loop.first %}checked="checked"{% endif %}>
                        {{ _answ.answer }}
                    </label>
                {% endfor %}
            </div>

            <div class="footer">
                <div class="inner">
                    <button type="submit" class="mbtn">Голосовать</button>
                    <p><a href="{{ path('niqab_votes_all') }}" class="pop red">Посмотреть все обсуждения</a></p>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

