{% block widget_in_blog %}
    <div class="in-blog-widget" style="margin-top: 0;">
        <div class="inner">
            <h4 class="sub"><a href="{{ path('niqab_blogs_recent') }}">В блогах</a></h4>
            {% for article in articles %}
                {% if article is not empty %}
                    {% set link -%}
                        {% render controller('NiqabApplicationBundle:Link:get', {'article':article}) %}
                    {%- endset %}
                    <table class="author">
                        <tr>
                            <td class="pic">
                                <a href="{{ path('niqab_blogs_single_author', {'blog_path' : article.secondaryCategories[0].path}) }}">
                                    {% set category = article.secondaryCategories[0] %}
                                    {% if category.path == 'musulmanka-v-moskve' %}
                                        {% set pic_url = '/static/images/blog_ava-2.png' %}
                                    {% elseif category.path == 'vzglad-iznutri' %}
                                        {% set pic_url = '/static/images/blog_ava-1.png' %}
                                    {% elseif category.path == 'finiki-i-moloko' %}
                                        {% set pic_url = '/static/images/blog_ava-3.png' %}
                                    {% elseif category.path == 'mysli-vsluh' %}
                                        {% set pic_url = '/static/images/blog_ava-1.png' %}
                                    {% elseif category.path == 'abu-ali-al-asari' %}
                                        {% set pic_url = '/static/images/blog_ava-5.jpg' %}
                                    {% elseif category.path == 'ahmad-abu-aha' %}
                                        {% set pic_url = '/static/images/blog_ava-6.jpg' %}
                                    {% endif %}
                                    <img src="{{ pic_url }}">
                                </a>
                            </td>
                            <td class="name">
                                <a href="{{ path('niqab_blogs_single_author', {'blog_path':article.secondaryCategories[0].path}) }}">
                                    {{ article.secondaryCategories[0].title }}
                                </a>
                            </td>
                        </tr>
                    </table>
                    <div class="text">
                        <a href="{{ link }}">
                            {{ article.title }}
                        </a>
                    </div>
                {% endif %}
            {% endfor %}

            {#
                        {% if moscow is not empty %}
                            {% set link -%}
                                {% render controller('NiqabApplicationBundle:Link:get', {'article':moscow}) %}
                            {%- endset %}
                            <table class="author">
                                <tr>
                                    <td class="pic">
                                        <a href="{{ path('niqab_blogs_single_author', {'blog_path':moscow.secondaryCategories[0].path}) }}">
                                            <img src="/static/images/blog_ava-2.png">
                                        </a>
                                    </td>
                                    <td class="name">
                                        <a href="{{ path('niqab_blogs_single_author', {'blog_path':moscow.secondaryCategories[0].path}) }}">
                                            {{ moscow.secondaryCategories[0].title }}
                                        </a>
                                    </td>
                                </tr>
                            </table>
                            <div class="text">
                                <a href="{{ link }}">
                                    {{ moscow.title }}
                                </a>
                            </div>
                        {% endif %}

                        {% if milk is not empty %}
                            {% set link -%}
                                {% render controller('NiqabApplicationBundle:Link:get', {'article':milk}) %}
                            {%- endset %}
                            <div class="author">
                                <div class="pic">
                                    <a href="{{ path('niqab_blogs_single_author', {'blog_path':milk.secondaryCategories[0].path}) }}">
                                        <img src="/static/images/blog_ava-3.png">
                                    </a>
                                </div>
                                <div class="name">
                                    <a href="{{ path('niqab_blogs_single_author', {'blog_path':milk.secondaryCategories[0].path}) }}">
                                        {{ milk.secondaryCategories[0].title }}
                                    </a>
                                </div>
                            </div>
                            <div class="text">
                                <a href="{{ link }}">
                                    {{ milk.title }}
                                </a>
                            </div>
                        {% endif %}

                        {% if inside is not empty %}
                            {% set link -%}
                                {% render controller('NiqabApplicationBundle:Link:get', {'article':inside}) %}
                            {%- endset %}
                            <table class="author">
                                <tr>
                                    <td class="pic">
                                        <a href="{{ path('niqab_blogs_single_author', {'blog_path':inside.secondaryCategories[0].path}) }}">
                                            <img src="/static/images/blog_ava-1.png">
                                        </a>
                                    </td>
                                    <td class="name">
                                        <a href="{{ path('niqab_blogs_single_author', {'blog_path':inside.secondaryCategories[0].path}) }}">
                                            {{ inside.secondaryCategories[0].title }}
                                        </a>
                                    </td>
                                </tr>
                            </table>
                            <div class="text">
                                <a href="{{ link }}">
                                    {{ inside.title }}
                                </a>

                            </div>
                        {% endif %}

                        {% if thoughts is not empty %}
                            {% set link -%}
                                {% render controller('NiqabApplicationBundle:Link:get', {'article':thoughts}) %}
                            {%- endset %}
                            <table class="author">
                                <tr>
                                    <td class="pic">
                                        <a href="{{ path('niqab_blogs_single_author', {'blog_path':thoughts.secondaryCategories[0].path}) }}">
                                            <img src="/static/images/blog_ava-1.png">
                                        </a>
                                    </td>
                                    <td class="name">
                                        <a href="{{ path('niqab_blogs_single_author', {'blog_path':thoughts.secondaryCategories[0].path}) }}">
                                            {{ thoughts.secondaryCategories[0].title }}
                                        </a>
                                    </td>
                                </tr>
                            </table>
                            <div class="text">
                                <a href="{{ link }}">
                                    {{ thoughts.title }}
                                </a>
                            </div>
                        {% endif %}

                        {% if abual is not empty %}
                            {% set link -%}
                                {% render controller('NiqabApplicationBundle:Link:get', {'article':abual}) %}
                            {%- endset %}
                            <table class="author">
                                <tr>
                                    <td class="pic">
                                        <a href="{{ path('niqab_blogs_single_author', {'blog_path':abual.secondaryCategories[0].path}) }}">
                                            <img src="/static/images/blog_ava-5.jpg">
                                        </a>
                                    </td>
                                    <td class="name">
                                        <a href="{{ path('niqab_blogs_single_author', {'blog_path':abual.secondaryCategories[0].path}) }}">
                                            {{ abual.secondaryCategories[0].title }}
                                        </a>
                                    </td>
                                </tr>
                            </table>
                            <div class="text">
                                <a href="{{ link }}">
                                    {{ abual.title }}
                                </a>
                            </div>
                        {% endif %}
                        #}
        </div>
    </div>
{% endblock %}