
{% block in_blog_row  %}
    <li>
        <div class="meta">
            <i class="icon-edit"></i>
            {%- include ApplicationBundle ~ ':Extra:datetime.html.twig' with {'date': post.publishedon} %}
        </div>

        {% if post.author is defined %}
            {% set user = post.author %}
            <table class="heading">
                <tr>

                    {% if user.image is not empty %}
                        <td class="user-pic">
                            <img src="{{ user.image.path  }}">
                            {#| apply_filter('userpic_small')#}
                        </td>
                    {% endif %}

                    <td class="user-fullname">
                        <a href="{{ path('sonata_user_profile_show', { username: user.username }) }}">
                            {% if user.firstname is empty and user.lastname is empty %}
                                {{ user.username }}
                            {% else %}
                                {{ user.firstname }} {{ user.lastname }}
                            {% endif %}
                        </a>
                    </td>

                </tr>
            </table>
        {% endif %}

        <div class="post-title">
            {% set link -%}
                {% include 'IslamArticleBundle:Article:link.html.twig' with {'article':post} %}
            {%- endset %}
            <a href="{{ link }}">{{ post.title }}</a>
        </div>
    </li>
{% endblock %}