{% block poll_widget %}
    <div style="width: 220px;" class="poll-result-widget">
        <div class="header">
            <div class="inner">
                {{ vote.title }}
            </div>
        </div>
        <div class="inner">
            <ul class="answers">
                {% set total_count = 0 %}
                {% for __answ in vote.answers %}
                    {% set total_count = total_count + __answ.count %}
                {% endfor %}


                {% for __answ in vote.answers %}
                    <li>
                        <div class="result">
                            <div class="total">{{ __answ.count }}</div>
                            <div class="progress">
                                <div class="bar" style="width: {% if total_count > 0 %}{{ (__answ.count * 100 / total_count) | number_format(0) }}{% else %}0{% endif %}%;"></div>
                            </div>
                        </div>
                        <p>
                            {{ __answ.answer }}
                        </p>
                    </li>
                {% endfor %}
            </ul>
            <div class="total_vote">
                Всего голосов: <b>{{ total_count }}</b>
            </div>
        </div>
        <div class="footer">
            <div class="inner">
                <i><a href="{{ path('niqab_votes_all') }}" class="red pop">Посмотреть все обсуждения</a></i>
            </div>
        </div>
    </div>
{% endblock %}